apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: default
type: Opaque
stringData:
  credentials: |
    {
      "access_key": "REPLACE_ME",
      "secret_key": "REPLACE_ME"
    }
